html, body{
	margin:0;
   	padding:0;
   	height:100%;
}

body{
	
	border: 0;
	font-family: Orienta, Serif;
	text-align: justify;
	background-image: url('../img/indexfoto.jpg');
	/* https://www.pexels.com/search/web%20design/ */
	background-size: cover;
	color: #fff;

}

#container{
	height: auto;
    min-height: 100%;
    position: relative;
    
}

/*
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/

a{
	text-decoration: none;
	color: #fff;
}

li{
	list-style-type: none;
}

/*HEADER*/

header{
	
	
}

/*MENU*/

header nav{
	width: 100%;
	position: fixed;
	/*! tjs dire à quelle position un fixe doit rester avec un "top", bottom ect..*/
	top:0;
	background:linear-gradient(to right, red,
     rgba(41, 41, 41, 1) 30%);

}

header ul{
	display: flex;
	justify-content: flex-end;
	margin: 0 15%;
}

header li{
	display: inline-block;
	padding: 18px;
	margin: ;
	opacity: 0.5;
	
}

header li:hover{
	transition: 0.9s ease;
  	opacity: 1;
}

/*GRAND TITRE*/

.titre{
	margin: 55px auto 40px;
	padding: 10px auto 10px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background:linear-gradient(to right, red,
	 #29292930  30%);
	
}


/*MAIN*/

main{
	width: 75%;
	margin: auto;

}

/*MAIN GAUCHE : IMAGE*/

.image{
	position: fixed;
	top: 180px;
	left: 30px;
}

.image img{
	width: 260px;
	filter: grayscale(100%);
	-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.image ul{
	display: flex;
	justify-content: center;
	padding-left: 0;
	font-size: 35px;
}

.image li{
	margin: 0 25px;
}

#sfdlogo{
	text-align: center;
}

#sfdlogo img{
	width: 80px;
}

#sfdlogo figcaption{
	margin-top: 15px;
}



/*MAIN DROITE : TEXTE*/

#texte{
	background: linear-gradient(to right, red, rgba(0,0,0, 0.1) );
	margin-left: 25%;
	
}

/*FOOTER*/

footer{
	position: absolute;
	width: 100%;
	
	margin-top: 100px;

	bottom: 0;
		
	padding: 5px;
	background:linear-gradient(to right, red,
	 rgba(41, 41, 41, 1) 30%);
	text-align: center;
	justify-content: center;
}