

body{
	font-family: Orienta, Serif;
	text-align: justify;
	
	background-image: url('../img/indexfoto.jpg');
	/*https://www.pexels.com/search/web%20design/*/
	background-size: 100%;
	color: #fff;
}

main{
	width: 90%;
	margin: auto;
	/*background-image: none;
	  background-color: transparent;
	  background-repeat: no-repeat;*/
}

a{
	text-decoration: none;
	color: #fff;
}

li{
	list-style-type: none;
}

/*MENU*/

header nav{
	width: 100%;
	position: fixed;
	background:linear-gradient(
      to right,
      red,
      #292929 30%
    );

	
}

header ul{

	/*display: flex;
	justify-content: flex-end;*/
	margin:0;
}

header li{
	display: inline-block;
	padding: 18px;
	margin: ;
	opacity: 0.5;
	
}

header li:hover{
	transition: 0.9s ease;
  	opacity: 1;
}



/*GRAND TITRE*/

.titre{
	/*position: relative;*/
	margin-top: 500px;
	text-align: center;
	
}

/*MAIN*/

main{
	display: flex;
	flex-direction: row;
}



/*MAIN GAUCHE : IMAGE*/

#image{
	position: fixed;
}

#image img{
	width: 150px;
	filter: grayscale(100%);
}



/*MAIN DROITE : TEXTE*/

#texte{
	display: flex;
	flex-direction: column;
}