/*
Error: Invalid CSS after "...(to right, red,": expected ")", was "#29292930   30%);"
        on line 5 of /home/user/becode/interview-webdev/assets/scss/style.scss

1: header{
2: 	nav{
3: 	width : 100%;
4: 	background:linear-gradient(to right, red,
5:      #29292930   30%);
6: 	}
7: }

Backtrace:
/home/user/becode/interview-webdev/assets/scss/style.scss:5
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1278:in `expected'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/script/lexer.rb:231:in `expected!'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/script/parser.rb:730:in `assert_tok'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/script/parser.rb:520:in `funcall'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/script/parser.rb:499:in `ident'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/script/parser.rb:291:in `unary_not'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/script/parser.rb:291:in `unary_div'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/script/parser.rb:291:in `unary_minus'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/script/parser.rb:291:in `unary_plus'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/script/parser.rb:272:in `times_div_or_mod'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/script/parser.rb:272:in `plus_or_minus'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/script/parser.rb:272:in `relational'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/script/parser.rb:272:in `eq_or_neq'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/script/parser.rb:272:in `and_expr'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/script/parser.rb:272:in `or_expr'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/script/parser.rb:473:in `space'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/script/parser.rb:414:in `interpolation'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/script/parser.rb:338:in `expr'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/script/parser.rb:721:in `assert_expr'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/script/parser.rb:68:in `parse'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1134:in `sass_script'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:988:in `value!'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:796:in `block in try_declaration'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:1254:in `rethrow'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:814:in `try_declaration'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:732:in `declaration_or_ruleset'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:689:in `block_contents'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:747:in `declaration_or_ruleset'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:697:in `block_child'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:686:in `block_contents'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:678:in `block'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:670:in `ruleset'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:696:in `block_child'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:686:in `block_contents'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:137:in `stylesheet'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/scss/parser.rb:41:in `parse'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:414:in `_to_tree'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:391:in `run'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
/usr/share/koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
/usr/share/koala/bin/sass:22:in `load'
/usr/share/koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...(to right, red,\": expected \")\", was \"#29292930   30%);\"\A         on line 5 of /home/user/becode/interview-webdev/assets/scss/style.scss\A \A 1: header{\A 2: 	nav{\A 3: 	width : 100%;\A 4: 	background:linear-gradient(to right, red,\A 5:      #29292930   30%);\A 6: 	}\A 7: }"; }
